
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 50px;
    min-height: 100vh;
    overflow: hidden;
    background-color: #e8f0fa;
    position: relative;
}

.background {
    position: absolute;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: -1;
}

.bg-section {
    height: 100%;
}

.light-blue1 {
    background-color: #e8f0fa;
    height: 50%;
}

.light-blue2 {
    background-color: #e8f0fa;
    height: 30%;
}

.orange {
    height: 20%;
    background-color: #ff8c42;
    width: 100%;
}

.services {
    text-align: center;
    max-width: 900px;
    padding: 10px;
    padding-top: 50px;
    z-index: 1;
}

h1 {
    color: #4a90e2;
    box-sizing: border-box;
    font: caption;
    font-weight: 700;
    font-size: 40px;
}

.description {
    color: #666;
    margin: 15px 205px 30px;
    box-sizing: border-box;
    font: small-caption;
}

.cards {
    display: flex;
    justify-content: space-around;
}

.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 250px;
    height: 385px;
    padding: 20px;
    text-align: center;
    position: relative;}

.card img {
    width: 100%;
    height: 170px;
    border-radius: 10px;
    padding-top: 20px;
}

.card h2 {
    color: #4a90e2;
    margin-top: 20px;    
    margin-bottom: 15px;
    font: caption;
    font-weight: 600;
    font-size: 20px;
}

.card p {
    color: #666;
    margin-bottom: 30px;
    margin-left: 1px;
    font: small-caption;
    font-weight: 400;
}

button {
    background-color: #ff8c42;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    font-weight: 600;
}

button:hover {
    background-color: #e67529;
}
